/* You can add global styles to this file, and also import other style files */

:root {
  --background-color: white;
  --alt-background-color: #f0f0f0;
  --primary-color: #7e2726;
  --secondary-color: #ed3237;
  --text-color: black;
  --text-contrast-color: white;
  --text-font: 'Outfit';
  --pakua-font: 'Eagle Lake';
}

@font-face {
  font-family: 'Eagle Lake';
  src: url('./assets/fonts/EagleLake-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* esto indica que admite todo el rango */
  font-style: normal;
}

@font-face {
  font-family: 'trajan-pro';
  src: url('./assets/fonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 100%;
  font-family: 'outfit', sans-serif;
}

.color-icono{
  color: var(--secondary-color);
}

.div-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  width: 100dvw;
  /* background: linear-gradient(180deg, var(--secondary-color), var(--primary-color));  */
}